setion.worth
    .worth__container
        .worth__item
            img(src='./assets/images/bg-3.png')
        .worth__item
            .worth__item-block
            ul.worth__list
                li.worth__list-item.icon-9
                    .worth__list-block
                        span 0 % роялти
                        p.text.worth__text Вы не платите обязательных ежемесячных платежей. Ваши инвестиции в стартовый пакет - это приобретение товарного ассортимента для открытия магазина теплых полов.
                li.worth__list-item
                    .worth__list-block
                        span 0 ₽ паушальный взнос
                        p.text.worth__text У нас нет паушального взноса – вы бесплатно получаете опыт, который мы накопили за 10 лет работы в 80 городах России и СНГ.
                li.worth__list-item
                    .worth__list-block
                        span 0 % риска
                        p.text.worth__text Мы берем на себя полное маркетинговое сопровождение наших дилеров, обучаем, сопровождаем ежедневно.