.popup
    .popup__body
        .popup__content
            span.popup__close
            .popup__flex
                .form__image
                    img(src="./assets/images/5.png", alt="Картинка")
                .form__content
                    h2.form__title Получите презентацию и бизнес план
                    p.text.form__text заполните форму, и мы отправим вам информацию
                    form.form(action="#")
                        input(placeholder="Имя" name="name" required).form__input 
                        input(placeholder="Ваш телефон" name="telephone" type="tel" required).form__input
                        button.btn.form__btn Отправить заявку
                    p.smalltext.form__smalltext
                        | Отправляя заявку, вы соглашаетесь на обработку персональных данных в соответствии с 
                        a(href="/") политикой конфиденциальности