footer.footer
    .container.footer__container
        .footer__item
            .footer__logo
                a(href="/")
                    img(src="./assets/images/logo-2.svg", alt="Логотип")
            span.footer__copyright daewoo enertec Все права защищены
            p.footer__text ИП Ким Сергей Геннадьевич<br>Юр.адрес - 660135, Красноярск, Октябрьская 8а<br>ИНН: 272498786001<br>ОГРНИП: 321246800035051
        .footer__item
            h3.footer__title Юридические документы
        .footer__item 3